
#header {
	background-image:none;
	background-repeat:no-repeat;
	background-size: 100% 100%;
	background-color:cyan;
	height:15%;
	text-align:center;
	padding:5px;
	font-family:helvetica;
	color:red;
}
#nav{
	background-color:#eeeeee;
    height:80%;
    width:200px;
    float:left;
    padding:5px;
}
#section{
	float:left;
	padding:10px;
	text-align:left;
	font-family:georgia;
	font-style:italic;
	font-size:10px;
}
#aside{
	float:right;
	padding:10px;
}
#footer{
	background-color:cyan;
	height:5%;
	text-align:center;
	clear:both;
}